.cart-main{
    display: block;
    text-align: center;
    margin: 0 auto;
    height: 50%;
    width: 70%;
}

.cart-main p{
    top: 50%;
    position: relative;
    padding: 1vh;
    font-weight: bold;
    font-size: 3vh;
}