

/*******************************************************
    Mobile View
*******************************************************/
/*styles-mobile.css*/
form {
    width: 90%;
    height: 75vh;
    margin: 2vh auto;
    font-size: 2.5vh;
}
#fname,#lname,#c-fname,#c-lname{
    height: 7vh;
    width: 69.96%;
    margin: 1vh auto;
    padding: 2vh;
    border-radius: 5px;
}
#email,#c-email{
    height: 7vh;
    width: 69.96%;
    padding: 2vh;
    border-radius: 5px;
    margin: 1vh auto;
}

#message,#c-message{
    height: 25vh;
    width: 69.96%;
    padding: 2vh;
    border-radius: 5px;
    margin: 1vh auto;
}

#message::placeholder,#c-message::placeholder{
    position: absolute;
}

form button {
    display: block;
    height: 7vh;
    width: 18vw;
    border-radius: 8px;
    background-color: deepskyblue;
    color: #fff;
    font-weight: bold;
    font-size: 2.5vh;
    font-family: var(--body-font);
    margin: 1vh auto;
}

form button:hover {
    background-color: antiquewhite;
    color: var(--second-color);
}
/*******************************************************
    Desktop-responsive
*******************************************************/
@media only screen and (min-width:800px), (orientation: landscape){
    .desktop{
        display: block;
    }
    
    .col-right{
/*        text-align: center;*/
        justify-content: center;
    }
    .col-right h1{
        width: 100%;
        text-align: center;
        margin-top: 3vh;
    }
    .col-right form{
        width: 80%;
    }
    
    
    #fname,#lname{
        width: 49.6%;
        margin: 2vh auto;
    }
    #email{
        width: 100%;
    }
    
    #message{
        height: 49vh;
        width: 100%;
        margin: 2vh auto;
    }
    
    form button {
        float: right;
        width: 10vw;
    }
    
}