
/*******************************************************
    Desktop-responsive
*******************************************************/
@media only screen and (min-width:800px), (orientation:landscape) {

    /*******************************************************
        Top Headline Bar
    *******************************************************/
    html,body{
        overflow: hidden;    /*No overflow out of screen*/
    }
    
    body {
        max-height: 100vh;
    }
    /*******************************************************
        First Column - Video / Header
    *******************************************************/
    .col-left{
        margin-left: 0;    /*change from 12% to 0*/
        width: 35%;
        height: 100vh;
    }
    
 
    .col-left video {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
        
    .col-left .descriptions {
        width: 100%;
        height: auto;
        padding: 2vw;
        margin-bottom: -20vh;
        z-index: 1;
    }
    
    .col-left .descriptions h2{
        padding: 1vh 0;
        max-width: 100%;
    }

    .col-left .descriptions p{
        padding: .5vh 0;
        max-width: 55vh;
    }

    .col-left .frame {
        flex-grow: 1;
        z-index: 0;
    }

    /*******************************************************
        Second Column - Menu
    *******************************************************/
    .middle {
        margin-left: 35%;    /*equal video width*/
        width: 12%;
    }

    /*******************************************************
        Third Column - Scrollable Contents
    *******************************************************/
    .col-right{
    /*    flex: 1 0 47%;*/
        margin-left: 47%;
        width: 53%;
/*        -ms-overflow-style: none;  */
        /* IE and Edge */
/*        scrollbar-width: none;  */
        /* Firefox */
    }
    .col-right::-webkit-scrollbar {
        display: none;    /*chrome,safari and opera*/
    }
    #right-about {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    #right-about img{
        height: 40vh;
        width: 100%;
        margin: 3vh auto 0vh auto;
/*        border: 3px solid black;*/
/*        box-sizing: border-box;*/
    }
    
    #right-about article{
        position: relative;
        text-align:center;
        border: 2px solid black;
        height: auto;
        width: 100%;
        padding: 5vh;
        box-sizing: border-box;
    }
    
    #right-about h2{
        margin: 1vh auto;
        max-width: 45vh;
        text-align: left;
    }  
    #right-about p{
        margin: 1vh auto;
        max-width: 45vh;
        text-align: left;
    }    
    #right-about aside{
        margin: 1.4vh auto;
        padding: 0 5vh 0 0vh;
/*        padding: 0 25vh;*/
        color: var(--first-color);
        font-weight: bold;
/*        text-align: left;*/
    }

    
    .grid-items img{
        display: flex;
    }
    .col-right #right-menu,
    .col-right #right-index{
        width: 100%;
    }
    .col-right #call-to-act-menu,
    .col-right #call-to-act-index{
        width: 100%;
        text-align: center;
    }
    .col-right #call-to-act-index{
        height: auto;
        padding-bottom: 1vh;
    }
    /*******************************************************
        Index Call to action
    *******************************************************/    
    #call-to-act-index p{
        color: #FFF;
        font-size: 4vh;
        margin: 0;
        text-shadow: -1px -1px 0 orange,
            1px -1px 0 orange,
            -1px 1px 0 orange,
            1px 1px 0 orange;
        
    }

    #call-to-act-index p:nth-of-type(2){
        font-size: 8vh;
        color: rgb(227,111,30,30%);
        font-weight: 500;
    }
    #call-to-act-index p:last-of-type{
        text-shadow: none;
        color: #000;
        font-style: italic;
        font-weight: bold;
        font-size: 3vh;
        padding-top: 2vh;
        padding-bottom: 1vh;
    }
    #call-to-act-index img{
        width: 50%;
        margin: 0 auto;
    }
    #call-to-act-index button{
        background-color: #fff;
        border-color:darkblue;
        height: 8vh;
        text-align: center;
        line-height: 7.5vh;
        min-width: 12vw;
        cursor: pointer;
        box-shadow: .7vh .7vh 0 -.5px black;    /*x,y,blur,spread, color*/
        font-size: 2.1vh;
        font-weight: bold;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out, box-shadow 0.1s ease-in;
    }
    
    #call-to-act-index button:hover{
        box-shadow: none;
        background-color: ghostwhite;
    }
 
    
    /*******************************************************
        Menu - Call to actions
    *******************************************************/
    #call-to-act-menu p{
        color: #FFF;
        font-size: 4vh;
        margin: 0;
        text-shadow: -1px -1px 0 orange,
            1px -1px 0 orange,
            -1px 1px 0 orange,
            1px 1px 0 orange;
    }
    

    #call-to-act-menu p:nth-of-type(2){
        font-size: 8vh;
        color: rgb(227,111,30,30%);
/*        text-shadow: none;*/
        font-weight: 500;
    }
    #call-to-act-menu p:last-of-type{
        text-shadow: none;
        color: #000;
        font-style: italic;
        font-weight: bold;
        font-size: 3vh;
        padding-top: 2vh;
        padding-bottom: 1vh;
    }
    #call-to-act-menu img{
        width: 50%;
        margin: 0 auto;
    }
    #call-to-act-menu button{
        background-color: #fff;
        height: 8vh;
        width: 12vw;
        box-shadow: .7vh .7vh black;
        font-size: 2.1vh;
        font-weight: bold;
    }
    
    #right-about {
        display: none;
    }
}