
/*******************************************************
   Ipad Pro Responsive
*******************************************************/
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
        
    .mobile{
        display: block;
    }
}

/*******************************************************
    Mobile Responsive
*******************************************************/
@media only screen and (max-width:550px), (orientation:portrait){
    .desktop{
        display: none;
    }
    
    .mobile{
        display: grid;
        grid-template-columns: 15vw 100vw;
        grid-template-rows: 1fr;
        grid-template-areas: 
            'l-nav head head head'
            'l-nav vid vid vid'
            'l-nav cta cta cta'
            'l-nav story story story'
            'foot foot foot foot'
            ;
    }
    
     /*******************************************************
        Top Headline Bar
    *******************************************************/

    .mobile-nav-icon{
        margin: 2vh auto;
        width: 5.8vw;
        height: 5.5vh;
    }    
    
    .mobile-nav-icon:hover{
        cursor: pointer;
    }
    
    .mobile-nav-icon div,
    .mobile-nav-icon::before,
    .mobile-nav-icon::after{
        content: '';
        display: block;
        height: .8vh;
        background-color: #fff;
        border-radius: 3px;
        margin: .5vh 0;
        transition: all .2s ease-in-out;
    }
    
    .mobile-nav-icon.active div{
        transform: scale(0);
    }
    .mobile-nav-icon.active::before{
        transform: translateY(1.3vh) rotate(45deg);
    }
    .mobile-nav-icon.active::after{
        transform: translateY(-1.3vh) rotate(-45deg);
    }   
    
    .mobile-left-nav {
        grid-area: l-nav;
        width: 15vw;
        height: 100%;
        padding: 1rem 0;
        background-color: var(--second-color);
/*        border: 2px solid black;*/
    }
    
    .mobile-right-nav {
/*        grid-area: r-nav;*/
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 90%;
        max-width: 90%;
        background-color: #fff;
        
/*        border: 2px solid black;*/
    }
    /*******************************************************
        First Column - Menu
    *******************************************************/
    .mobile-header{
        grid-area: head;
        display: block;
        height: 10vh;
        width: 85vw;
/*        position: absolute;*/
/*        top: 0;*/
/*        width: 90vw;*/
/*        height: 16vh;*/
/*        margin-left: 10vh;*/
/*        border:  1px solid;*/
    }
    #mobile-logo{
        margin: 1vh 4vh;
/*        padding: 1vh;*/
        width: 9vh;
        height: 8vh;
    }
    .mobile-header ul{
        position: absolute;
        top: 0;
        right: 0;
        margin: 2.2vh 0vh 0vh 2vh;
        height: 8vh;
        width: 55%;
        line-height: 4vh;
        text-align: center;
/*        border:  1px solid;*/
    }
    .mobile-header li{
        display: inline-block;
        width: auto;
        margin: 0 1vh;
        border-bottom: 3px solid var(--second-color);
        transition: all .5s ease-in-out;
        background-size: 100% 200%;
        background-image: linear-gradient(to bottom, white 50%, chocolate 50%);
        font-size: 1em;
    }
    
    .mobile-header li:hover{
        background-position: 0 100%;
        color: white;
    }
    
    .mobile-vid {
        grid-area: vid;
        height: 22vh;
        width: 85vw;;
/*        border: 1px solid black;*/
    }
    
    .mobile-vid video{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    
    .mobile-cta-container {
        grid-area: cta;
        height: 30vh;
        width: 85vw;
        text-align: center;
        margin-bottom: 1vh;
/*        border: 2px solid black;*/
    }
    
    .mobile-cta-container img{
        height: 10vh;
        margin: 0 auto;
    }
    
    #mobile-cta p{
        color: #FFF;
        font-size: 2vh;
        margin: 0;
        text-shadow: -1px -1px 0 orange,
            1px -1px 0 orange,
            -1px 1px 0 orange,
            1px 1px 0 orange;
    }
    
    #mobile-cta p:nth-of-type(2){
        font-size: 3.9vh;
        color: rgb(227,111,30,30%);
        font-weight: 450;
    }
    #mobile-cta p:last-of-type{
        text-shadow: none;
        color: #000;
        font-style: italic;
        font-weight: bold;
        font-size: 1.5vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
    
    #mobile-cta button{
        background-color: #fff;
        border-color:darkblue;
        height: 5.5vh;
        text-align: center;
        line-height: 5.5vh;
        padding: 0 1vh;
        width: auto;
        min-width: 18vh;
        cursor: pointer;
        box-shadow: .7vh .7vh 0 -.5px black;    /*x,y,blur,spread, color*/
        font-size: 1.5vh;
        font-weight: bolder;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out, box-shadow 0.1s ease-in;
    }
    
    #mobile-cta button:hover{
        box-shadow: none;
        background-color: ghostwhite;
    }
    .mobile-story {
        grid-area: story;
        display: flex;
        height: 20vh;
        width: 100%;
        max-width: 85vw;
        font-size: .95vh;
        border: 1px solid black;
    }
    .mobile-story article{
        width: 32%;
        text-align: center;
        background-color: rgb(0,71,44, 85%);
    }
    .mobile-story h2{
        margin: 1vh auto;
        font-size: 2.5vh;
        width: 100%;
        color: #fff;
/*        background-color: aliceblue;*/
    }
    .mobile-story p{
        margin: 0 auto;
        width: 22vh;
        justify-content: center;
        text-align: left;
        font-family: var(--body-font);
        font-size: 1.5vh;
        color: #fff;
    }
    .mobile-story img{
        width: 68%;
    }
    .mobile-footer {
        grid-area: foot;
        height: 12vh;
        width: 100vw;
        text-align: center;
        background-color: #000;
        color: #fff;
/*        border: 2px solid black;*/
    }
    .mobile-footer p{
        margin: 1vh auto;
        font-size: 2.2vh;
    }
    .mobile-footer img{
        width: 15vh;
        margin-top: 1vh;
        
    }
    #mobile-tab-about:hover {

    }

    #mobile-vid-about {
        
    }
    .mobile-menu {
        
    }



    .mobile-menu a{

    }

    .mobile-menu a:hover{

    }

    .mobile-menu ul{

    }

    .mobile-menu li{


    }


    #mobile-middle-nav{

    }

    #mobile-bottom-nav{

    }

    #mobile-bottom-nav img{

    }
    /*******************************************************
        Second Column - Video / Header
    *******************************************************/
    .mobile-col-left {

    }

    .mobile-col-left .mobile-descriptions {

    }


    .mobile-col-left ul {

    }

    .mobile-col-left li {

    }



    /*******************************************************
        Third Column - Scrollable Contents
    *******************************************************/
    .mobile-col-right {

    }

    .mobile-col-right img{

    }
    .mobile-product {

    }
    


    /*******************************************************
        Menu Page css
    *******************************************************/
    
     .grid-container {
         display: grid;
    /*     height: 100vh;*/
         height: auto;
    /*     width: 82vw;*/
         max-width: 100%;
    /*     grid-column: auto;*/
         grid-template-areas: 'l-nav head head head'
             'l-nav main main main'
             'l-nav main main main'
             'l-nav main main main'
             'foot foot foot foot';
    /*     border: 5px solid red;*/

    }   


    .menu-left-nav {
        grid-area: l-nav;
        width: 8vw;
        height: 100%;
        padding: 1rem 0;
        background-color: var(--second-color);
    /*        border: 2px solid black;*/
    }
    .menu-nav-icon{
        margin: 2vh auto;
        width: 4.4vw;
        height: 3.5vh;
    }    

    .menu-nav-icon:hover{
        cursor: pointer;
    }

    .menu-nav-icon div,
    .menu-nav-icon::before,
    .menu-nav-icon::after{
        content: '';
        display: block;
        height: .8vh;
        background-color: #fff;
        border-radius: 3px;
        margin: .5vh 0;
        transition: all .2s ease-in-out;
    }

    .menu-nav-icon.active div{
        transform: scale(0);
    }
    .menu-nav-icon.active::before{
        transform: translateY(1.3vh) rotate(45deg);
    }
    .menu-nav-icon.active::after{
        transform: translateY(-1.3vh) rotate(-45deg);
    }   


    /*******************************************************
        menu Header
    *******************************************************/
    .menu-header{
        grid-area: head;
        width: 92vw;
        height: 10vh;
    /*        position: absolute;*/
    /*        top: 0;*/
    /*        width: 90vw;*/
    /*        height: 16vh;*/
    /*        margin-left: 10vh;*/
    /*        border:  1px solid;*/
    }
    #menu-logo{
        margin: 1vh 4vh;
    /*        padding: 1vh;*/
        width: 9vh;
        height: 8vh;
    }
    .menu-header ul{
        position: absolute;
        top: 4vh;
        right: 0;
        margin: 2.2vh 0vh 0vh 2vh;
        height: 8vh;
        width: 55%;
        line-height: 4vh;
        text-align: center;
    /*        border:  1px solid;*/
    }
    .menu-header li{
        display: inline-block;
        width: auto;
        margin: 0 1vh;
        border-bottom: 3px solid var(--second-color);
        transition: all .5s ease-in-out;
        background-size: 100% 200%;
        background-image: linear-gradient(to bottom, white 50%, chocolate 50%);
        font-size: 1em;
    }

    .menu-header li:hover{
        background-position: 0 100%;
        color: white;
    }

    /*******************************************************
        Top Headline Bar
    *******************************************************/


    .menu-right-nav {
    /*        grid-area: r-nav;*/
        display: none;
        position: absolute;
        left: 8vw;
        top: 4vh;
        height: 70%;
        width: 92vw;
        background-color: #fff;
        z-index: 100;

    /*        border: 2px solid black;*/
    }


    .menu-main{
        grid-area: main;
    /*    height: 100%;*/
        width: auto;
        max-width: 100%;
    /*    overflow: hidden;*/
        display: flex;
        flex-wrap: wrap;
    /*    border: 1px solid red;*/
    }

    .menu-cta-container {
    /*    grid-area: cta;*/
    /*    height: 10vh;*/
    /*    width: 100%;*/
        text-align: center;
    /*    margin-bottom: 1vh;*/
    /*        border: 2px solid black;*/
    }

    .menu-cta-container img{
        height: 10vh;
        margin: 0 auto;
    }

    .menu-cta-container p{
        color: #FFF;
        font-size: 1.6vh;
        margin: 0;
        text-shadow: -1px -1px 0 orange,
            1px -1px 0 orange,
            -1px 1px 0 orange,
            1px 1px 0 orange;
    }

    .menu-cta-container p:nth-of-type(2){
        font-size: 3.5vh;
        color: rgb(227,111,30,30%);
        font-weight: 450;
    }
    .menu-cta-container p:last-of-type{
        text-shadow: none;
        color: #000;
        font-style: italic;
        font-weight: bold;
        font-size: 1.15vh;
        padding-top: .5vh;
        padding-bottom: .5vh;
    }

    .menu-cta-container button{
        background-color: #fff;
        border-color:darkblue;
        height: 5.5vh;
        text-align: center;
        line-height: 5.5vh;
        padding: 0 1vh;
        width: auto;
        min-width: 18vh;
        cursor: pointer;
        box-shadow: .7vh .7vh 0 -.5px black;    /*x,y,blur,spread, color*/
        font-size: 1.5vh;
        font-weight: bolder;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out, box-shadow 0.1s ease-in;
    }

    .menu-cta-container button:hover{
        box-shadow: none;
        background-color: ghostwhite;
    }
    .menu-story {
        display: inline-flex;
        position: relative;
    /*    font-size: 1.5vh;*/

    /*    border: 1px solid black;*/
    }
    .menu-story article{
        width: 45%;
        text-align: center;
        background-color: rgb(0,71,44, 85%);
        padding-top: 4vh;
    }
    .menu-story h2{
        margin: auto;
        font-size: 2.5vh;
        width: 100%;
        color: #fff;
    /*        background-color: aliceblue;*/
    }
    .menu-story p{
        margin: 1vh auto;
        width: 80%;
        justify-content: center;
        text-align: left;
        font-family: var(--body-font);
        font-size: 1.5vh;
        color: #fff;
    }
    .menu-story img{
        width: 60%;
        height: 100%;
    }
    .menu-footer {
        grid-area: foot;
    /*    height: 12vh;*/
        width: 100%;
        text-align: center;
        background-color: #000;
        color: #fff;
    /*        border: 2px solid red;*/
    }
    .menu-footer p{
        margin: 1vh auto;
        font-size: 2.2vh;
    }
    .menu-footer img{
        width: 15vh;
        margin-top: 1vh;

    }

    .content {
        width: 92vw;
        height: 28vh;
    }

}
