* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}
/**********************flex grid for smaller screen **************/
html {
    height: 100%;
}
body {
    background-color: snow;
    height: 100vh;
    width: 100%;
    padding: 0px;
    margin: 0;
    
}


.flex-grid {
    display: flex;
}
.col {
    flex:1;
}

#main-menu .col img{
    width: 10vw;
    height: 20vh;
    
}

.col #contactbtn-top{
    height: 7.2vh;
    width: 10vw;
    background-color: dimgray;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3vw;
    margin: 2rem 0px 2rem 0px;
    border-radius: 5px;
}
/**********************End of Main Menu Block*********************/

.first-frame {
    height: 70vh; 
    width: 100%;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.first-frame iframe {
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 100%;
    z-index: 10;
    display: block;
}
.first-frame img{
    position: absolute;
    width: 10vw;
    height: 20vh;
    opacity: 75%;
    margin-left:-5vw;
    z-index: 50;
}

.first-frame p{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
    padding-top: 18vh;
    z-index: 60;
}

/**********************End of First Block*********************/

#second-block .col{
    height: 60vh;
    width: 50%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#second-block .col img{
    height: 85%;
    width: 85%;
}

#second-block .col img:hover{
    background-color: darkseagreen;
    opacity: 50%;
}


/**********************End of Second Block*********************/

.textblock {
    text-align: center;
    font-size: 20px;
    line-height: 1.88rem;
}

#quote-text {
    font-weight: bolder; 
    font-size: 4rem; 
    line-height: 3.9rem; 
    margin-bottom: -1rem;
    margin-top: -0rem;
}
/**********************End of text Block*********************/
#third-block {
    height: 55vh;
    width: 100%;
    text-align: center;
    font-size: 3.5vh;
}


#third-block img{
    height: 90%;
    width: 90%;
    border-radius: 50%;
    border-style: solid;
    margin-bottom: 1rem;
}

/**********************End of Third Block*********************/

#fourth-block {
    
    border-radius: 45vh 5vh 45vh 10vh;
    
    justify-content: center;
    margin-top: 10vh;
    background-image: url(images/greenbackground.jpg);
    height: 135vh;
    
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#fourth-block p{
    font-weight: bolder;
    font-size: 3.5rem;
    text-align: center;
}

#fourth-block p img{
    height: 30vh;
    width: 20vw;
    border: dashed;
}

#fourth-div-block{
    height: 40vh;
    width: 100%;
    text-align: center;
}

#fourth-div-block img {
    height: 45vh;
    width: 25vw;
    border: solid red 1rem;
    padding: 1vw;
    margin: 1vw;
}
/**********************End of Third Block*********************/




.two-column {
    display: flex;
    height: 72.2%;
    padding-top: 10vh;
}
.two-column p{
    float: left;
    width: 50%;
    text-align: center;
    padding: 0vh 10vh 0vh 10vh;
}

.two-column form {
    float: right;
    width: 50%;
    text-align: left;
    
}

.two-column #name{
    width: 25vw;
    height: 4vh;
}

.two-column #email{
    width: 25vw;
    height: 4vh;
}

.two-column #phone{
    width: 25vw;
    height: 4vh;
}

.two-column #message{
    width: 25vw;
    height: 16vh;
}

.two-column #submitbtn{
    width: 25vw;
    height: 8vh;
}

/**********************End of Enquiry Page*********************/

footer {
    background-color: black;
    width: 100%;
    height: 15vh;
    color: white;
  position: relative;
  padding: 3rem 1rem 1rem 1rem;
  text-align: center;
}

#bottom-footer {
}

/**********************End of Footer*********************/