*{
    box-sizing: border-box;
    padding: 0;
    margin: auto;
}

:root{
    --main-font: 'Arial', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --body-font-color: #515151;
    --main-color: #004494;
}

/* Basic setting ends*/
.header{
    background-color: whitesmoke;
    z-index: 500;
}
.greeting{
    background-color: #6F7572;
    width: 100%;
    font-size: .72rem;
    font-family: var(--main-font);
    color: white;
    padding: 5px 5px 5px 15px;
}
.greeting h3{
    opacity: .9;
    
}

.header-mid{
    position: relative;
    display: flex;
    margin-bottom: 2rem;
    height: 2rem;
    padding: .5rem;
}

.logo{
    position: absolute;
    left: 2.5rem;
    top: 1.1rem;
    font-weight: bolder;
    font-family: var(--main-font);
    font-size: 1.5rem;
    opacity: .66;
}
.search-bar{
    position: absolute;
    right: 101px;
    top: 15px;
    border: solid 3px gray;
    width: 8rem;
    height: 2rem;
    padding-left: 10px;
    padding-right: 1px;
    background-color: white;
    font-size: 9px;
    opacity: .5;
}
.header-mid button{
    position: absolute;
    font-size: 12px;
    width: 5.5rem;
    height: 2rem;
    cursor: pointer;
    right: 17px;
    top: 15px;
    border: solid 3px #B2B8B5;
    color: #004494;
    background-color: #B2B8B5;
    
}



@media screen and (max-width:899px){
    
    
    .main-menu a{
        text-decoration: none;
        color: white;
    }

    
    .header-menu{
        background-color: var(--main-color);
        padding: 10px 20px 30px;
        width: 100%;
        height: 6.5rem;
        color: white;
        position: absolute;
        top: 8rem;
        z-index: 1200;
    }

    .header-menu a,
    .header-menu span,
    .header .line{
        display: none;
    }

    
    #title{

        font-family: var(--main-font);
        font-size: 2rem;
        padding-top: 20px;
    }

    /*Header Mid ends*/
    
    .container {
      display: block;
      cursor: pointer;
        padding-left: 10px;
        height: 8rem;
        z-index:5000;
    }

    .bar1, .bar2, .bar3 {
      width: 35px;
      height: 5px;
        right: 20px;
      background-color: #333;
      margin: 6px 0;
      transition: 0.4s;
    }

    .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
    }

    /*css tricks code ends*/
    .main-menu{
        z-index: 1500;
        top: 8rem;
    }
    .main-menu span{
        width: 80%;
        float: left;
        opacity: 0;
        z-index: 1100;
        height: 4rem;
        position: absolute;
        color: white;
    }

    .main-menu span:hover,
    .main-menu a:hover{
      color: yellow;
    }

    .main-menu span.active-page {
      color: blanchedalmond;

    }

    .main-menu.responsive {
        position: absolute;
        width: 80%;
        height: 100%;
        background-color: #252525;
        opacity: 1;
    }
    
    .main-menu .line{
        position: absolute;
        width: 75%;
        background-color: white;
        height: .8px;
        display: flex;
        top: 38px;
        opacity: .7;
    }
    

    .main-menu.responsive span {
        position: relative;
        display: block;
        float: none;
        text-align: left;
        opacity: 1;
        padding-top: 15px;
        padding-left: 20px;
        font-size: 22px;
    }
    .body .full-width{
        width: 100%;
        height: 20rem;;
        display: block;
        margin-top: 0px;
    }

}



/*Header mobile code ends*/



@media screen and (min-width:900px){
    
    
    .main-menu a{
        text-decoration: none;
        color: black;
    }

    
    .header-menu{
        background-color: var(--main-color);
        padding: 10px 20px 30px;
        width: 100%;
        height: 6.5rem;
        color: white;
    }

    .header-menu a{
        text-decoration: none;
        color: white;
        font-family: var(--main-font);
        padding-right: 5px;
    }
    .header-menu span{
        padding-right: 5px;
    }

    .header .line{
        position: absolute;
        width: 90%;
        background-color: white;
        height: 1px;

    }
    .line{
        position: absolute;
        width: 90%;
        background-color: var(--main-color);
        height: 3px;

    }
    #title{

        font-family: var(--main-font);
        font-size: 2rem;
        padding-top: 20px;
    }

    
    /*Header mid ends*/
    .container{
        display: none;
    }
    .main-menu{
    position: relative;
    display: flex;
    width: 100%;
    height: 3rem;
    background-color: white;
    font-family: var(--main-font);
    font-weight: bold;
    opacity: .9;
    border: solid 1px var(--main-color);
    padding: 0 10px;
    text-align: center;
    line-height: 3rem;
    padding: 3px;
    }

    .main-menu span{
        width: 200px;
    }
    
    .main-menu .line{
        display: none;
    }


    .main-menu .active-page{
        position: relative;
        background-color: #EC3B92;
        height: 3rem;
        color: white;
        margin-top: -3.6px;
        box-shadow: 1px 1px 4px 2px #B2B8B5;
        vertical-align: middle;
        pointer-events: none;
    }

    .main-menu span:hover{
        background-color: darkseagreen;
    }
    
    .body .full-width{
        width: 100%;
        height: 25rem;;
        display: block;
        margin-top: 1px;
    }

}


/*Header ends*/
