*{
    box-sizing: border-box;
    padding: 0;
    margin: auto;
}

:root{
    --main-font: 'Montserrat', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --body-font-color: #515151;
    --main-color: #0B2A9E;
    --pink-color: #EC3B92;
    --dark-green: rgb(0,161,155);
}

/* Global setting ends*/

/*Header Top Setting begins*/
html {
    scroll-behavior: smooth;
}
.header{
    background-color: whitesmoke;
    z-index: 500;
    width: 100%;
}
.header-top{
    height: 9rem;
}
.header-body{
    height: 1.5rem;
}
.header-bottom{
    height: 4rem;
}
.greeting{
    background-color: #6F7572;
    width: 100%;
    font-size: 1rem;
    font-family: var(--main-font);
    color: white;
    padding: 5px 5px 5px 15px;
}
.greeting h3{
    opacity: .9;
    
}

.header-items{
    position: relative;
    display: flex;
    height: 3.8rem;
    padding: .5rem;
}

.logo{
    position: absolute;
    left: 5.5rem;
    top: 1.2rem;
    font-weight: bolder;
    font-family: var(--main-font);
    font-size: 2.6rem;
    opacity: .75;
}
.search-bar{
    position: absolute;
    right: 105px;
    top: 30px;
    border: solid 2.9px gray;
    width: 12rem;
    height: 2.6rem;
    padding-left: 10px;
    padding-right: 1px;
    background-color: white;
    font-size: 12px;
    opacity: .5;
}
.header-items button{
    position: absolute;
    font-size: 14px;
    width: 5.5rem;
    height: 2.6rem;
    cursor: pointer;
    right: 17px;
    top: 30px;
    border: solid 3px #B2B8B5;
    color: #004494;
    background-color: #B2B8B5;
    
}

/*Header Top Setting ends*/



/*Footer Setting begins*/
.footer{
    text-align: center;
    align-items: center;
    opacity: .4;
    font-family: var(--main-font);
}
/*Footer Setting ends*/



/* Mobile Setting begins*/

@media screen and (max-width:724px){
    
    
/*Mobile Header Setting begins*/
    .header{
        padding-bottom: 1rem;
    }
    .greeting{
        font-size: .72rem;
    }
    
    .header-items{
        margin-bottom: 2rem;
        height: 2rem;
    }

    .logo{
        left: 2.5rem;
        top: 1.1rem;
        font-size: 1.5rem;
        opacity: .66;
    }
    
    .search-bar{
        right: 103px;
        top: 15px;
        border: solid 3px gray;
        width: 8rem;
        height: 2rem;
        font-size: 9px;
        
    }
    .header-items button{
        font-size: 12px;
        height: 2rem;
        top: 15px;

    }
    
/*Mobile Header Top ends*/

    

/*Mobile Header Body begins*/
    .header-breadscrum{
        background-color: var(--main-color);
        padding: 11px 0px 0px 35px;
        width: 100%;
        height: 6.5rem;
        color: white;
        position: absolute;
        top: 8rem;
        z-index: 1200;
        text-align: left;
    }

    .header-breadscrum a,
    .header-breadscrum span,
    .header .line{
        display: none;
    }

    
    #title{
        font-family: var(--main-font);
        font-size: 1.9rem;
        padding-top: 20px;
    }
    #policy #title{
        font-size: 1.7rem;
    }

/*Mobile Header body ends*/

    
    
    
/*Mobile Navigation Bar begins*/
    
    .nav-bar {
        display: block;
        float: right;
        cursor: pointer;
        padding-right: 10px;
        height: 8rem;
        z-index:5000;
    }

    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        right: 20px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    
/*Mobile Navigation Bar ends*/
    
    
    
    
    
/*Mobile Main Menu begins*/
    .main-menu{
        z-index: 1500;
        top: 8rem;
        width: 80%;
    }
    .main-menu a{
        text-decoration: none;
        color: white;
    }

    .main-menu span{
        float: left;
        opacity: 0;
        z-index: 1100;
        height: 4rem;
        position: absolute;
        color: white;
    }

    .main-menu span:hover,
    .main-menu a:hover{
      color: yellow;
    }

    .main-menu span.active-page {
      color: blanchedalmond;

    }

    .main-menu.responsive {
        position: absolute;
        height: 100%;
        background-color: #252525;
        opacity: 1;
    }
    
    .main-menu .line{
        position: absolute;
        width: 75%;
        background-color: white;
        height: .8px;
        display: flex;
        top: 38px;
        opacity: .7;
    }
    
    .main-menu.responsive span {
        position: relative;
        display: block;
        float: none;
        text-align: left;
        opacity: 1;
        padding-top: 15px;
        padding-left: 20px;
        font-size: 22px;
    }
    
/*Mobile Main Menu ends*/
    
    
    
    
/*Mobile Content begins*/ 
    .content{
        display: block;
        position: relative;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2rem 1rem 0rem 1rem;
        max-width: 100%;
    }
    .content img{
        width:100%;
        padding:5px;
    }
    .content p{
        padding: 3px;
    }
    .content li{
        margin-left: 8rem;
        padding: 1rem 30rem 0rem 0rem;
    }
    
    #home .content .full-width,
    .blog-post .content .full-width{
        width: 100%;
        height: 20rem;;
        display: block;
        margin-top: 0px;
    }
    
    .footer{
        display: block;
        position: relative;
        margin-bottom: .5rem;
        font-weight: 400;
        font-size: .7rem;
        padding: .5rem;
    }
    
    #policy .footer,
    #contact .footer{
        display: block;
        position: absolute;
        bottom: 1rem;
        left: 30%;
        
    }

}

/*Mobile Content ends*/ 




/*Desktop Header Setting begins*/
@media screen and (min-width:725px){
    
    
    .header-body{
        height: 10rem;
    }
    .header-breadscrum{
        background-color: var(--main-color);
        padding: 15px 30px;
        width: 100%;
        height: 10rem;
        color: white;
    }

    .header-breadscrum a{
        text-decoration: none;
        color: white;
        font-family: var(--main-font);
        padding-right: 7px;
        font-size: 1.3rem;
    }
    .header-breadscrum span{
        padding-right: 7px;
    }

    .header .line{
        position: absolute;
        width: 90%;
        background-color: white;
        height: 1px;

    }
    .line{
        position: absolute;
        width: 90%;
        background-color: var(--main-color);
        height: 4px;

    }
    #title{

        font-family: var(--main-font);
        font-size: 3.1rem;
        padding-top: 27px;
    }

    #policy #title{
        font-size: 2.2rem;
        padding-top: 32px;
    }
    
    /*Header mid ends*/
    .nav-bar{
        display: none;
    }
    .main-menu{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 4rem;
    background-color: white;
    font-family: var(--main-font);
    font-weight: 555;
    border: solid 1px var(--main-color);
    text-align: center;
    line-height: 4rem;
    font-size: 1.3rem;
    z-index: 999;
    }
    
    .main-menu a{
        text-decoration: none;
        color: black;
    }

    .main-menu span{
        position: relative;
        width: 6.5rem;
        opacity: .9;
        float: left;
        left: .5rem;
    }
    
    .main-menu .line{
        display: none;
    }

    .main-menu .active-page{
        position: relative;
        background-color: #EC3B92;
        height: 4rem;
        margin-top: -3px;
        box-shadow: 1px 1px 4px 2px #B2B8B5;
        vertical-align: middle;
        color: white;
        /*pointer-events: none;*/
    }
    

    .main-menu span:hover{
        background-color: darkseagreen;
        margin-top: -3px;
    }
    
    .main-menu .sub-nav .sub-menu{
        display: none;
        font-size: .9rem;
        
    }
    .main-menu .sub-nav:hover .sub-menu{
        display: block;
        background-color:white;
        cursor: pointer;
        color:dodgerblue;
        font-weight: 690;
        border-radius: 3px;
        border: 2px solid pink;
    }
    .main-menu .sub-nav:hover .sub-menu:hover{
        background-color: darkseagreen;
        color: whitesmoke;
        font-weight: 700;
        font-size: 1rem;
        border-radius: 10px;
    }
    .content{
        display: block;
        position: relative;
        max-width: 100%;
        justify-content: center;
        text-align: center;
    }
    
    
    /*Homepage Contents Begins*/
    #home .content{
        padding: 0;
    }
    #home .content .full-width,
    .blog-posts .content .full-width{
        width: 100%;
        height: 35rem;
        margin-top: -21px;
    }
    
    #home .story img{
        width: 50%;
    }
    #home .s1{
        position: relative;
    }
    #home .s1 img{
        /* Add the blur effect */
        filter: blur(1px);
        -webkit-filter: blur(1px);
    }
    #home .s1 h2{
        position: absolute;
        display: block;
        top: 18%;
        left: 30%;
        width: 40rem;
        color: white;
        font-size: 2.55rem;
        background-color: rgb(36,22,22, 0.5);
        font-family: sans-serif;
        border-radius: 10px 8px 30px 20px;
        border: solid;
    }
    
    #home .s1 p{
        position: absolute;
        display: block;
        top: 80%;
        left: 50%;
        border-radius: 50%;
        background-color: whitesmoke;
        width: 2.8rem;
        height: 2.8rem;
        cursor: pointer;
    }
    
    #home .arrow{
        border: solid rgb(0,123,247);
        border-width: 0 2.9px 2.9px 0;
        display: inline-block;
        width: .85rem;
        height: .85rem;
        position: absolute;
        top: 1.15rem;
        left: 1rem;
    }
    
    #home .down{
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    #home #ione{
        z-index: 2;
    }
    
    #home #itwo{
        background-color: transparent;
        border-left: 2.8px solid rgb(0,123,247);
        height: 1.1rem;
        position: absolute;
        left: 1.343rem;
        top: .799rem;
        z-index: 1;
    }
    
    #home .s2{
        width: 100%;
        height: 40rem;
        
        background-color: antiquewhite;
    }
    
    #home .s2 #s2-one{
        height: 4rem;
        padding: 12rem 19rem 22rem 19rem;
        font-size: 3.5rem;
        text-align: center;
        font-family: var(--body-font);
        line-height: 4rem;
    }
    
    #home .s3{
        width: 100%;
        height: 40rem;
        border: solid;
        display: block;
        position: relative;
    }
    
    #home #s3-div{
        max-height: 40rem;
        position: relative;
        float: left;
        color: black;
        margin-top: 5rem;
        margin-left: 3rem;
    }
    
    #home #s3-div h2{
        padding: 0rem 0rem 0rem 1rem;
        height: 5rem;
        font-size: 1.5rem;
        font-family: var(--main-font);
        position: relative;
        margin-top: 5rem;
        float: left;
    }
    
    #home #s3-div p{
        padding: 0rem 2rem 0rem 1rem;
        font-size: 1.5rem;
        font-family: sans-serif;
        position: relative;
        top: 1rem;
        font-family: var(--main-font);
        margin-top: 10rem;
        width: 30rem;
        line-height: 2rem;
    }
    
    #home #s3-div button,
    #home #s4-div button,
    #home #s5-div button{
        position: relative;
        height: 3.5rem;
        width: 9.5rem;
        margin-top: 2.5rem;
        margin-left: -2.4rem;
        font-size: 1.1rem;
        font-family: var(--body-font);
        font-weight: 700;
        border-radius: 5px 5px 5px 5px;
        background-color: whitesmoke;
        z-index: 3;
        cursor: pointer;
    }
    
    #home #s4-div button{
        margin-right: -1rem;
    }
    #home #s3-div button:hover,
    #home #s4-div button:hover,
    #home #s5-div button:hover{
        background-color: var(--pink-color);
        color: white;
    }
    
    
    #home .s3 img{
        height: 39.75rem;
        position: absolute;
        z-index: 1;
        left: 50%;
        border-left: solid;
    }
    
    #home .s4{
        width: 100%;
        height: 40rem;
        border: solid;
        display: block;
        position: relative;
    }
    #home #s4-div{
        max-height: 40rem;
        position: relative;
        float: right;
        color: black;
        margin-top: 5rem;
        margin-right: 3rem;
    }
    
    
    #home #s4-div h2{
        padding: 0rem 1rem 0rem 0rem;
        height: 5rem;
        font-size: 1.5rem;
        font-family: var(--main-font);
        position: relative;
        margin-top: 5rem;
        float: right;
    }
    
    #home #s4-div p{
        padding: 0rem 3rem 0rem 1rem;
        font-size: 1.5rem;
        font-family: sans-serif;
        position: relative;
        top: 1rem;
        font-family: var(--main-font);
        margin-top: 10rem;
        width: 30rem;
        line-height: 2rem;
        
    }
    
    #home .s4 img{
        position: absolute;
        height: 39.75rem;
        z-index: 1;
        left: 0;
        border-left: solid;
    }
    #home .s5{
        width: 100%;
        height: 40rem;
        border: solid;
        display: block;
        position: relative;
    }
    
    #home #s5-div{
        max-height: 40rem;
        position: relative;
        float: left;
        color: black;
        margin-top: 5rem;
        margin-left: 4rem;
    }
    
    
    #home #s5-div h2{
        padding: 0rem 2rem 0rem 7rem;
        height: 5rem;
        font-size: 1.5rem;
        font-family: var(--main-font);
        position: relative;
        margin-top: 5rem;
        float: left;
    }
    
    #home #s5-div p{
        padding: 0rem 2rem 0rem 1rem;
        font-size: 1.5rem;
        font-family: sans-serif;
        position: relative;
        top: 1rem;
        font-family: var(--main-font);
        margin-top: 10rem;
        width: 30rem;
        line-height: 2rem;
    }
    
    
    #home #s5-div button{
        margin-right: -1rem;
    }
    
    #home #s5-img-frame{
        
        position: absolute;
        height: 39.75rem;
        z-index: 1;
        left: 50%;
        border-left: solid;
    }
    #s5-img-frame img{
        width: 50%;
        height: 50%;
        display: flex;
        float: left;
    }
    
    
    #home .inline-photo {
      border-radius: .25em;
      opacity: 0;
      transform: translateY(8em) rotateZ(20deg);
      transition: transform 5s 0.55s cubic-bezier(0,1,.3,1),
                  opacity .3s .25s ease-out;
      will-change: transform, opacity;
    }

    #home .inline-photo.is-visible {
      opacity: 1;
      transform: rotateZ(0deg);
    }

    #home .main-photo {
      transform: scale(.8);
    }


    #home .is-visible .main-photo {
      transform: none;
    }

    #home .main-photo{
      transition: transform 5s 0.55s cubic-bezier(0,1,.3,1),
                  filter 10s 2s ease-out;
      will-change: transform;
    }
    
    
    
    
    
    
    
    
    
    
    
    /*Home contents Ends*/
    /*Travel Contents Begins*/
    .topic-posts{
        display: flex;
        position: relative;
    }
    #travel .big-words{
        font-family: "Helvetica Neue", sans-serif;
        font-size: 7rem;
        font-weight: 700;
        color: black;
        -webkit-text-fill-color: white; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: rgb(1,133,175);
        
    }
    #travel-top-topics{
        margin-right: 3.5rem;
        height: 3.5rem;
        padding-bottom: .45rem;
    }
    #travel .content .right{
        float: right;
        margin-bottom: -6.7rem;
        margin-right: .5rem;
    }
    
    #travel .content .middle{
        float: center;
        margin-top: -14.5rem;
        width: 70rem;
        height: 8rem;
    }
    
    
    #travel .scroll-container{
        display: flex;
        width: 90%;;
        height: 34rem;
        position: relative;
        margin-bottom: 3rem;
        margin-top: 3rem;
        padding: 1.3rem 0rem 0rem 2rem ;
        background: transparent;
        overflow-x: visible;
        overflow-y: hidden;
        flex-wrap: nowrap;
    }
    #travel .travel-scroll-high-bg{
        content: "";
        display: inline-flex;
        clear: both;
        width: 96%;
    }
    #travel .disable-scrollbars::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* Chrome/Safari/Webkit */
    }
    #travel .disable-scrollbars {
      -ms-overflow-style: none;  /* IE 10+ */
    }
    .travel-scroll-items{
        float: left;
        min-width: 14em;
        margin-left: -11px;
    }
    #travel .scroll-container img{
        width: 100%;
        height: 29rem;
        vertical-align: middle;
        border-radius: 10px;
        cursor: pointer;
        transform: scale(1);
        transition: all .8s ease-in-out;
        z-index: 13;
        position: relative;
    }
    
    #travel .scroll-container img:hover{
        transform: scale(1.13);
        border-radius: 20px;
        z-index: 17;
        box-shadow:3px 3px 20px antiquewhite;
        text-align: center;
        transition: all 1s ease-in-out;
        
    }

    #travel .scrollable-buttons{
        position: absolute;
        display: inline-block;
        left: 6rem;
        top: 25rem;
        width: 70rem;
    }
    #travel .scroll-buttons{
        max-width: 100%;
        z-index: 99;
        display: flex;
        line-height: 5px;
        text-align: center;
        align-items: center;
    }
    #travel .prev,
    #travel .next{
        background-color: white;;
        color: blue;
        z-index: 999;
        cursor: pointer;
        width: .5rem;
        height: 1.5rem;
        border-radius: 30px;
    }
    
    
    #travel #most-popular-section{
        height: 43rem;
        width: 100%;
        margin: 0rem 0rem 0rem 0rem;
        /*background-color: black;*/
        display: block;
        position: relative;
    }
    
    
    #travel #most-popular{
        width: 100%;
        height: 35rem;
        position: relative;
        background-image: url(images/cafe.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
    }
    #travel .three-div-horizontal{
        height: 32rem;
        width: 80%;
        display: block;
        position: absolute;
        top: 23%;
        left: 10%;
        /*border: solid 3px white;*/
        background-color: floralwhite;
        border-radius: 20px;
    }
    
    #travel .three-div-horizontal-items{
        /*border: solid 2px red;*/
        height: 32rem;
        width: 25%;
        float: left;
        overflow: hidden;
        border-radius: 8%;
    }
    
    #travel .three-div-horizontal-items:hover{
        transform: scale(1.13);
    }
    
    #travel .three-div-horizontal img{
        width: 100%;
        height: 20rem;
        float: left;
    }
    #travel .three-div-horizontal a{
        text-decoration: none;
        color: black;
    }
    #travel .three-div-horizontal .line{
        width: 22%;
        background-color: dimgray;
        height: .8px;
        opacity: .5;
        margin-left: 1rem;
        bottom: 3.8rem;
        position: absolute;
    }
    #travel .bottom-first-half{
        font-family: var(--main-font);
        font-size: 13px;
        width: 16rem;
    }
    
    #travel .bottom-first-half-des{
        font-family: var(--main-font);
        font-size: 13px;
        font-weight: 360;
        line-height: 1.1rem;
        width: 15rem;
        position: absolute;
        top: 23.5rem;
        margin-left: 1rem;
    }
    
    #travel .bottom-second-half{
        font-family: var(--main-font);
        font-size: 12px;
        font-weight: 500;
        position: absolute;
        bottom: 2.5rem;
        padding-left: 1rem;
    }
    
    
    #travel .third-width-showcase{
        max-width: 100%;
        width: 80rem;
        height: 40rem;
        display: inline-flex;
        position: relative;
    }
    #travel .des-left,
    #travel .des-right{
        width: 35rem;
    }
    
    #travel .des-left{
        padding-right: 3rem;
        padding-left: 2rem;
        margin-left: 7.5rem;
        margin-right: 1rem;
    }
    #travel .des-right{
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: 1rem;
        margin-right: 7.5rem;
    }
    #travel #travel-des1,
    #travel #travel-des2,
    #travel #travel-des3{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    
     #travel #travel-des2-img{
         float: left;
         margin-top: -2rem;
    }
     #travel #travel-des3-img{
         float: left;
         margin-top: -3rem;
    }
    .des-left h2,
    .des-right h2{
        font-size: 34px;
        font-weight: 900;
        font-family: var(--secondary-font);
        margin-bottom: 1rem;
    }
    
    #travel .comma-line{
        font-size: 43px;
        color: coral;
        margin-bottom: 2rem;
        float: center;
        
    }
    
    .des-left p,
    .des-right p{
        font-size: 18px;
        font-weight: 340;
        font-family: var(--main-font);
        text-align: justify;
        margin-bottom: 1.8rem;
    }
    
    #travel .showcase-readmore{
        float: left;
        display: block;
        position: relative;
        height: 0rem;
    }
    
    #travel .showcase-readmore:hover .readmore-button{
        color: coral;
        position: absolute;
        padding-left: 1rem;
        padding-right: 2rem;
        margin-left: 2rem;
        margin-top: 1rem;
        white-space: nowrap;
    }
    
    #travel .showcase-readmore:hover .readmore-arrow{
        
        position: absolute;
        animation-name: move-right;
        animation-duration: 1s;
        -webkit-animation-name: move-right;
        -webkit-animation-duration: 1s;
        animation-iteration-count: infinite;
    }
    
    #travel .readmore-arrow{
        background-color: transparent;
        font-size: 30px;
        border-radius: 35% 40%;
        border: solid 2px coral;
        color: coral;
        width: 2.7rem;
        padding: .5rem;
    }
    @keyframes move-right{
        0% { padding: 0rem 0rem 0rem 0rem ;}
        50%{ padding: 0rem 0.5rem 0.2rem 0.5rem ;}
        100%{padding: 0rem 0rem 0rem 0rem ;}
    }
    #travel .readmore-button{
        color: black;
        font-weight: 600;
        padding-left: .8rem;
    }
    
    #travel .showcase-readmore a{
        text-decoration: none;
    }
    #travel .showcase-img{
        width: 80%;
        height: 38rem;
    }
    
    #travel .showcase-img img{
        width: 37rem;
        height: 38rem;
        float: right;
    }
    #travel #journey-planner{
        height: 27rem;
        width: 100%;
        background-color: antiquewhite;
    }
    
    #travel #journey-top{
        font-family: "Helvetica Neue", sans-serif;
        font-size: 7rem;
        font-weight: 700;
        color: black;
        -webkit-text-fill-color: white; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: rgb(1,133,175);
    }
    
    #travel #journey-form{
        float: left;
        margin-left: 2.5rem;
        position: relative;
    }
    
    #travel #journey-form-two{
        float: right;
        margin-right: 2.5rem;
        position: relative;
    }
    #travel #jform-to{
        margin-left: 1rem;
        padding-left: 3rem;
    }
    
    #travel #label-to{
        margin-left: 2rem;
    }
    #travel #journey-planner input[type=text]{
        width: 75%;
        padding: .7rem .9rem;
        margin: 1rem 0;
        box-sizing: border-box;
        border: 1px solid #555;
        outline: none;
        margin-left: 5rem;
        margin-top: 4rem;
        font-size: 30px;
        text-align: center;
    }
    
    
    #travel #journey-planner input[type=text]:focus {
      background-color: lightblue;
    }
    
    #travel label{
        display: inline-block;
        position: absolute;
        margin-top: 4rem;
        border: 1px solid #555;
        padding: 1rem 1rem 1.16rem .2rem;
        font-size: 20px;
        background-color: floralwhite;
    }
    
    #travel #search-button{
        cursor: pointer;
        border: solid;
        width: 7.5rem;
        height: 4rem;
        text-align: center;
        vertical-align: center;
        padding-top: 1.2rem;
        background-color: cornflowerblue;
        color: white;
        font-weight: 600;
        position: relative;
        top: 45%;
    }
    
     #travel #search-button:hover{
         background-color: darkcyan;
    }
    /*Travel Contents Ends*/
    
    /*About Contents Begin*/
    #about #top-intro{
        width: 100%;
        height: 40rem;
        position: relative;
        display: block;
        border: solid;
        z-index: 1;
        
    }
    #about #top-intro img{
        width: 50%;
        height: 50%;
        position: relative;
        float: left;
    }
    
    #about #top-intro-heading{
        width: 90%;
        height: 23rem;
        background-color: rgb(0,161,155);
        position: absolute;
        margin-top: -4rem;
        margin-left: 4rem;
        color: white;
        font-family: var(--body-font);
        font-size: 2rem;
        z-index: 2;
    }
    
    #about #top-intro-heading a{
        position: absolute;
        text-decoration: none;
    }
    
    #about #icon-container{
        margin-left: -2.5rem;
    }
    #about #icon-container p{
        position: absolute;
        display: block;
        top: 80%;
        left: 50%;
        border-radius: 50%;
        background-color: whitesmoke;
        width: 2.8rem;
        height: 2.8rem;
        cursor: pointer;
        margin-top: 1rem;
    }
    
    #about .arrow{
        border: solid rgb(0,123,247);
        border-width: 0 2.9px 2.9px 0;
        display: inline-block;
        width: .85rem;
        height: .85rem;
        position: absolute;
        top: 1.15rem;
        left: 1rem;
    }
    
    #about .down{
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    #about #ione{
        z-index: 2;
    }
    
   #about #itwo{
        background-color: transparent;
        border-left: 2.8px solid rgb(0,123,247);
        height: 1.1rem;
        position: absolute;
        left: 1.343rem;
        top: .799rem;
        z-index: 1;
    }
    
    #top-intro-heading h2{
        padding-top: 4.5rem;
        font-weight: 400;
        
        
    }
    
    #top-intro-heading p{
        font-family: var(--secondary-font);
        font-size: 1.4rem;
        width: 36rem;
        padding:1rem 0rem 0rem 0rem ;
    }
    
    #about #mid-intro{
        position: relative;
        margin-top: 20rem;
        margin-bottom: 3rem;
    }
    
    
    #about #about-first-paragraph{
        width: 45%;
        height: 25rem;
        padding-top: 3rem;
        margin-bottom: 2rem;
        vertical-align: center;
        font-family: var(--body-font);
        font-size: 1.1rem;
        border: solid 3px var(--secondary-font-color);
        border-radius: 10px 10px 50px 50px;
    }
    
    #about-bottom-img{
        width: 100%;
        height: 30vw;
    }
    /*About ends + Life contents begin*/
    #life #top-life{
        width: 100%;
        height: 30rem;
        border: solid;
    }
    
    #mid-mid .image-container,
    #life #top-life .image-container{
      background-image: url("images/First%20snow%20of%20winter%20by%20dave_s.jpg");
      background-size: cover;
      position: relative;
      height: 300px;
    }

    #mid-mid .text,
    #life #top-life .text{
        background-color: snow;
        color: black;
        font-size: 10vw; 
        font-weight: bold;
        margin: 0 auto;
        padding-bottom: 10rem;
        width: 50%;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        mix-blend-mode: screen;
    }
    
    #top-ten-finnish-taboos,
    #life-insurrance,
    #life-housing,
    #life-marriage,
    #life-pet-visa,
    #study-entrance-exam,
    #study-finnish-language,
    #study-universities,
    #travel-budget,
    #travel-top-local-food,
    #travel-go-with-us-helsinki,
    #travel-reliable-agencies{
        width: 60rem;
        position: relative;
        padding-top: 2rem;
        font-family: var(--body-font);
        font-size: 1.3rem;
        font-weight: normal;
        padding: 3rem 3.5rem 2rem 2rem;
        line-height: 1.68rem;
    }
    
    #top-ten-finnish-taboos h3,
    #life-insurrance h3,
    #life-housing h3,
    #life-marriage h3,
    #life-pet-visa h3,
    #study-entrance-exam h3,
    #study-finnish-language h3,
    #study-universities h3,
    #travel-budget h3,
    #travel-top-local-food h3,
    #travel-go-with-us-helsinki h3,
    #travel-reliable-agencies h3{
        padding: .6rem 0;
    }
    
    
    /*Life contents end*/
    
    /*Contact content begins*/
    
    #contact #contact-person{
        display: inline-block;
        position: relative;
        width: 100%;
        border: solid;
        margin-top: -2rem;
    }
    #contact-person img{
        height: 20rem;
    }
    #contact #person1,
    #contact #person2,
    #contact #person3,
    #contact #person4{
        position: relative;
        width: 25%;
        float: left;
    }
    
    #person1 .card,
    #person2 .card,
    #person3 .card,
    #person4 .card{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      margin: auto;
      text-align: center;
      font-family: arial;
    }

    
    #person1 .title,
    #person2 .title,
    #person3 .title,
    #person4 .title{
      color: grey;
      font-size: 18px;
    }
    
     #person1 button,
    #person2 button,
    #person3 button,
    #person4 button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 8px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }

    
    #person1 a,
    #person2 a,
    #person3 a,
    #person4 a{
      text-decoration: none;
      font-size: 22px;
      color: black;
    }

    #person1 button:hover, #person1 a:hover,
    #person2 button:hover, #person2 a:hover,
    #person3 button:hover, #person3 a:hover,
    #person4 button:hover, #person4 a:hover{
      opacity: 0.7;
    }
    
    /*Contact contents ends*/
    .footer{
        width: 100%;
        height: 30rem;
        opacity: .9;
        color: white;
        font-weight: 400;
        font-size: .7rem;
        background-color: var(--main-color);
        position: relative;
        clear: both;
    }

    .footer-grid-container{
        display: grid;
        grid-template-areas: 
            "fzero fzero fsocial fsocial fsocial fsocial"
            "fone ftwo fthree ffour ffive fsix"
            "fone ftwo fthree ffour ffive fsix"
        ;
        grid-template-rows: 8.5rem;
        font-size: 1.2rem;
        font-weight: 600;
        opacity: .9;
        width: 100%;
        max-width: 100%;
        position: absolute;
    }
    
    .footer-grid-container a{
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
    .footer .footer-0{
        text-align: left;
        padding-top: 1rem;
        position: absolute;
        left: 2rem;
        grid-area: fzero;
    }
    .footer-0 h3{
        padding-bottom: .6rem;
        font-size: 1.5rem;
        opacity: 1;
    }
    .footer-0 span a{
        color: red;
        font-weight: 700;
        padding: 1rem;
        font-size: 1rem;
    }
    
    .footer .social-media{
        font-size: 1.3rem;
        float: right;
        position: absolute;
        right: 10rem;
        top: 2rem;
        grid-area: fsocial;
    }
    
    .footer .social-media span{
        width: 35px;
        height: 35px;
        display: inline-block;
        background-repeat: round;
        border-radius: 50%;
    }
    
    .footer .footer-1,
    .footer .footer-2,
    .footer .footer-3,
    .footer .footer-4,
    .footer .footer-5,
    .footer .footer-6{
        height: 12rem;
        width: 10rem;
        text-align: left;
    }
    
    .footer .footer-1{
        grid-area: fone;
        width: 14.7rem;
        text-align: left;
        padding-left: 1rem;
        padding-right: .3rem;
    } 
    .footer .footer-1 p{
        font-size: .75rem;
        padding: 1rem .51rem 1rem 0rem;
    }
    
    .footer .footer-2{
        grid-area: ftwo;
    }
    
    .footer-2,
    .footer-3,
    .footer-4,
    .footer-5,
    .footer-6{
        padding-left: 1.5rem;
    }
    
    .footer-2 ul,
    .footer-3 ul,
    .footer-4 ul,
    .footer-5 ul,
    .footer-6 ul{
        margin-top: .5rem;
    }
        
    .footer-2 ul li,
    .footer-3 ul li,
    .footer-4 ul li,
    .footer-5 ul li,
    .footer-6 ul li{
        text-align: left;
        list-style-position: outside;
        font-size: .85rem;
        padding: .5rem .5rem .36rem 0rem;
    }
    .footer .footer-3{
        grid-area: fthree;
    }
    
    .footer .footer-4{
        grid-area: ffour;
    }
    
    .footer .footer-5{
        grid-area: ffive;
    }
    
    .footer .footer-6{
        grid-area: fsix;
    }
    
    .footer-bottom{
        position: absolute;
        bottom: .5rem;
        height: 3rem;
        left: 50%;
    }
    
    .back-to-top-button{
        display: block;
        z-index: 999999;
        position: fixed;
        cursor: pointer;
        right: 1rem;
        bottom: 3%;
        opacity: 1;
        background-color: sandybrown;
        border-radius: 2rem;
    }
    .footer-button{
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
    
    .footer-button span{
        
        width: 35px;
        height: 35px;
        display: inline-block;
        background-repeat: round;
        border-radius: 50%;
    }
    
    
    
/*sticky nav bar main-menu*/

    /* The sticky class is added to the navbar with JS when it reaches its scroll position */
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
        z-index: 10000;
    }

    /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .content{
      padding-top: 60px;
        z-index: 10000;
    }

/*Sticky nav bar ends*/

}


/*Header ends*/



/*STUDY SECTION STYLE BEGINS*/
#study .content{
    padding: 3rem;
    
}

#study .grid-container{
    display: grid;
    grid-template-areas: 
        "s1 s2 s3"
        "s4 s5 s6";
    grid-column-gap: 1rem;
    grid-row-gap: 5rem;
}

#study .content-paragraph{
    width: 23rem;
    height: 29rem;
    justify-content: center;
    align-items: center;
    text-align: left;
}


#study .grid-container img{
    width: 23rem;
    height: 15rem;
    z-index: 10;
}

#study .story h2{
    padding-bottom: .8rem;
}

#study .story>span{
    font-size: 13px;
    font-family: monospace;
}

#study .story p{
    padding-top: .3rem;
    padding-bottom: 1rem;
    font-size: 17px;
    font-family: "helvetical" sans-serif;
}

/*Study Full page Slider Images Begins*/
#study .full-width-slider{
    width: 100%;
}
#study .full-width-slider img{
    height: 20rem;
}
#study .slideshow-container{
    
    position: relative;
    margin: auto;
    height: 20rem;
    display: block;
}


/* Slideshow container */

#study .mySlides>img{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: .5rem;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
#study .story a:nth-child(1){
    text-decoration: none;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4; z-index: 5} 
  to {opacity: 1; z-index: 25}
}

#study-category{
    display: inline-flex;
    position: relative;
    width: 80%;
    left: 10rem;
    float: center;
    font-size: 1.5rem;
    font-family: var(--main-font);
    margin: 1rem;
    justify-content: center;
    height: 10rem;
    line-height: 1.6rem;
    text-align: center;
}
#study-category div{
    display: inline-block;
    float: none;
    vertical-align: middle;
    border: solid .2rem var(--main-color);
    background-color: white;
    color: var(--main-color);
    font-weight: 600;
    padding-top: 1.5rem;
    width: 12rem;
    height: 5rem;
    cursor: pointer;
}

#study-category div:hover{
    color: var(--pink-color);
    border-radius: 10px 10px 10px 10px;
    transform: scale(1.1);
}
#study .grid-container img{
    -webkit-transform: scale(1);
	-webkit-transition: .8s ease-in-out;
    transform:  scale(1);
	transition: .8s ease-in-out;
    display: block;
    
}
#study .grid-container img:hover{
    -webkit-transform: scale(1.06);
	-webkit-transition: .45s ease-in-out;
    transform:  scale(1.06);
	transition: .45s ease-in-out;
    opacity: .5;
    
}

#study .grid-container .i2{
    -webkit-transform: scale(1);
	-webkit-transition: 1s ease-in-out;
    transform:  scale(1);
	transition: 1 ease-in-out;
    opacity: 1;
    transition-delay: .4s;
}

#study .grid-container .i2:hover{
    -webkit-transform: rotateY(180deg) scale(1.05);
	-webkit-transition: 1.3s ease-in-out;
    transform: rotateY(180deg) scale(1.05);
	transition: 1.3s ease-in-out;
    opacity: .5;
    
}

#study .story h2{
    text-decoration: none;
    cursor: pointer;
}
#study .story h2:hover{
    color:brown;
    transform: scale(1.009);
    -webkit-transform: scale(1.009);
}

/*STUDY SECTION STYLE ENDS*/

/*BLOG POST SECTION STYLE BEGINS*/

.blog-post-content{
    display: block;
    text-align: left;
    
}

.blog-post-content .blog-post-title{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 0rem 9rem 0rem 3rem;
}

.blog-post-content .blog-post-intro{
    font-size: 1.3rem;
    padding: 1rem 17rem 1rem 9rem;
}

.blog-post-content .blog-post-list-items{
    font-size: 1.3rem;
    padding: 1rem 17rem 1rem 9rem;
    
}

.blog-post-content .blog-post-list-items li{
    margin-left: 2rem;
}

.blog-post-content .blog-post-list-items .table,th,td{
    border: 1px solid black;
    padding: .7rem;
    text-align: justify;
    justify-content: center;
    align-items: center;
}


.tuition #long-width{
    min-width: 9.3em;
    min-height: 7rem;
    text-align: left;
}

/*BLOG POST SECTION STYLE ENDS*/

/*Coming Soon Section Begins*/
#coming-soon .coming-soon-content{
    height: 100%;
    width: 100%;
    margin-bottom: 0rem;
    position: relative;
}
.bgimg {

    background-image: url('images/oops%20edited%20Hei%20Finland%20by%20Limping%20Frog%20Productions.jpg');
    height: 40rem;;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}

.topleft {
    position: absolute;
    top: 0rem;
    left: 5rem;;
    background-color: black;
}

.bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}